@page "/"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@if (!names.Any())
{
    <i class="fa fa-spinner fa-pulse fa-5x"></i>
    <span class="sr-only">Loading...</span>
}
else
{
    <h1 class="display-1">
        Names
    </h1>
    @foreach(var name in names) 
    {
        <ul class="list-group">
            <li class="list-group-item">
                @name
            </li>
        </ul>
    }
}
@code {
    List<string> names = new List<string>();
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(TimeSpan.FromSeconds(3));
        names = await Http.GetFromJsonAsync<List<string>>("names");
    }
}